@import './assets/fontawesome/scss/fontawesome.scss';
@import './assets/fontawesome/scss/solid.scss';
@import './assets/fontawesome/scss/regular.scss';
@import './assets/fontawesome/scss/brands.scss';
@import '~bootstrap/scss/bootstrap';
@import './assets/scss/custom.scss';

.user {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-user);
  }
}

.twitter {
  @extend %fa-icon;
  @extend .fab;

  &:before {
    content: fa-content($fa-var-twitter);
  }
}

.facebook {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-facebook-f);
  }
}
.linkedIn {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-linkedin-in);
  }
}
.instagram {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($fa-var-instagram);
  }
}
.home {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-home);
  }
}
.phone-alt {
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-phone-alt);
  }
}
.envelope {
  @extend %fa-icon;
  @extend .far;
  &:before {
    content: fa-content($fa-var-envelope);
  }
}
.clock {
  @extend %fa-icon;
  @extend .far;
  &:before {
    content: fa-content($fa-var-clock);
  }
}


